.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  width: 200px;
}

.card-title {
  padding: 10px;
}

.card-button {
  text-decoration: none;
  color: inherit;
}
